<% provide(:title, "Home") %>
<section class = "home-layout">
  <br />
  <div class = "container">
    <div class = "box-container">
      <div class = "box-back rounded-corners"></div>
      <div class = "box-text center"> 
        <br /><br />
        <h3>
          Your friends know a whole bunch of interesting people! <%= @app_name %> takes advantage of the social networks you have have established  and helps connect you to your next buddy.
        </h3>
        <br />
        <p>
          <%= link_to("Explore Your Circles!", "#", class: "btn btn-primary btn-large")  %>
          <br /><br />
          <span class ="reg-reminder">Not a user? Register with your <%= link_to "Facebook", "#", class: "dark-bg" %>.</span>
        </p>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</section>
