<% provide(:title, "Explore") %>
<section class = "regular-container">
<div class = "container">
  <h1>Explore</h1>
  <br />
  <br />
  <br />
  <% counter = 0 %>
  <% @scrambled[0].each do |item|  %>
     <div><%= item.name %> (<%= @scrambled[1][counter] %>)</div>
     <% counter += 1 %>
  <% end %>
</div>
</section>
