<footer class = "footer">
  <div class = "container">
    <span class = "pull-right">
      <%= link_to "About", about_url, class: "end-links" %> &nbsp; | &nbsp;
      <%= link_to "Privacy", privacy_url, class: "end-links" %> &nbsp; | &nbsp;
      <%= link_to "Terms", terms_url, class: "end-links" %>
    </span>
  </div>
  <br />
</footer>
