<header class = "navbar navbar-fixed-top navbar-inverse">
  <div class = "navbar-inner">
    <div class = "container">
      <a class = "logo" href = "#">Girls App</a>
      <span class = "pull-right">
        <ul class = "nav">
          <li>
          <% if signed_in? %>
            <a href="/signout">Sign out</a></li>
          <% else %>
            <a href="/auth/facebook">Sign in</a></li>
          <% end %>
          <li><a href="/help">Help</a></li>
          <li><a href="/privacy">Privacy</a></li>
        </ul>
      </span>
    </div>
  </div>
</header>
